@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-font: "Manrope", sans-serif;
    --primary-color: #FF2400;
    --secondary-color: #E5E4E2;
    --text-light: #fff;
    --dark-color: #000;
    --muted-text: rgb(99, 99, 99);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.overall-head{
    font-family: "DM Sans", sans-serif;
}
body{
    font-family:"Poppins", sans-serif ;
}
a {
    color: inherit;
    text-decoration: none;
}
header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

header .header_inner {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
}

.logo {
    font-size: clamp(1.2em, 2vw, 2em);
}

header .header_inner .col {
    flex: 1;
}

header .header_inner .col:nth-child(2) {
    flex: 2;

}

nav {
    width: 100%;
}

.close_btn,
.open_btn {
    display: none;
}

nav .navlinks_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav .navlinks_container li {
    list-style: none;
}

nav .navlinks_container li a {
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

nav .navlinks_container li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: all 0.4s linear;
}

nav .navlinks_container li a.active::after {
    width: 100%;
}

nav .navlinks_container li a:hover::after {
    width: 100%;
}

.nav_buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav_buttons_container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.nav_buttons_container li {
    list-style: none;
}

.nav_buttons_container .lets_talk{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    outline: none;
    font-family: var(--primary-font);
    transition: all 0.4s linear;
    cursor: pointer;
}
.nav_buttons_container .lets_talk:hover{
    background: var(--dark-color);
}
/* hero section */
.hero_section {
    width: 100%;
    height: 100%;
}

.hero_section .hero_container {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_slider_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    border-top: 1px solid var(--muted-text);
    border-bottom: 1px solid var(--muted-text);
}

.hero_slider_container .hero_slider_left {
    width: 30%;
    height: 100%;
    padding: 20px;
}

.hero_slider_container .hero_slider_left .text_container {
    text-align: left;
}

.hero_slider_container .hero_slider_left .text_container h1 {
    font-size: clamp(1.2em, 3.5vw, 3em);
    font-weight: 500;
}

.hero_slider_container .hero_slider_left .text_container p {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0;
    color: var(--muted-text);
}

.hero_slider_container .hero_slider_left .text_container .shop_now_btn {
    background: var(--dark-color);
    color: var(--text-light);
    padding: 10px 30px;
    font-family: var(--primary-font);
    outline: none;
    border: none;
    transition: all 0.4s linear;
    cursor: pointer;
}

.hero_slider_container .hero_slider_left .text_container .shop_now_btn:hover {
    background: var(--secondary-color);
    color: var(--dark-color);
}

.hero_slider_container .hero_slider_right {
    width: 70%;
    height: 100%;
}

.hero_slider_container .hero_slider_right .img_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero_slider_container .hero_slider_right .img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* About us */

.about-us-image{
    width: 50%;
    height: 100%;
    position: relative;
}
.experience {
    background-color: red;
    position: absolute;
    right: -70px;
    top: 200px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.experience h1 {
    font-size: 50px; 
    color: white;
    margin: 0; 
}

.experience p {
    font-size: 20px;
    color: white;
    text-align: center; 
    margin: 0; 
}

.about-us-image img{
    height: 100%;
    width: 100%;
}
.about-card{
    display: flex;
    gap: 20px;
}
.about-cards{
    background-color: #FE0000;
    color: white;
}

.about-head{
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.about-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    padding-left: 5px;
}
.about-icon img{
    height: 80%;
    width: 90%;
}
.mission-vission{
    background-color: rgb(236, 228, 228); 
    border-radius: 50%;
    height: 60px; 
    width: 60px; 
    padding: 14px;
}

/* why choose us */
.choose-main{
    border: 1px solid transparent;
}
.choose-card h3{
    font-weight: 400;
}

.choose-card:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;}
.choose-icon{
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choode-head{
    font-family: "DM Sans", sans-serif;
}
.choose-icon img{
    width: 60%;
    height: 60%;
    /* margin-top: 20px; */
}

/* Benefits of Pledging Your Bike */
.pledging-card {
    position: relative;
    overflow: hidden; /* Ensures the image stays within the card */
}

.pledging-card img {
    transition: transform 0.3s ease; /* Smooth transition for the image */
}

.pledging-card:hover img {
    transform: scale(1.1); /* Scale the image on hover */
}
/* Client Testimonials */
.testimonal-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonal-container {
    height: auto;
    width: 70%;
    margin-top: 10px;
}
.testimonal-row {
    position: relative;
    height: auto;
}

.testimonal-row {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

swiper-container {
    width: 100%;
}

swiper-slide {
    height: auto;
    text-align: center;
    font-size: 18px;
    background: #fff;
    font-family:"Poppins", sans-serif;
}
swiper-slide p{
    font-weight: 600;
    margin-bottom: 40px;
}
swiper-slide div{
    margin-top: 10px;
}

.slider span{
    color: #FE0000;
    font-size: 110px;
}

/* What We Offer */
.card-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.card-title{
  font-weight: 400 !important;
}
.card-height{
    height: 250px;
}


/* Our Blog */
#blog {
    background-color: #f5f5f5;
}

.section-title {
    font-size: 2.5rem;
    color: #333;
}

.section-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

.card-blog {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-blog:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text {
    color: #666;
}

.btn-outline-success {
    border-color: #FE0000;
    color: #FE0000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #FE0000;
    color: #fff;
}

/* enquiry form */
.form-body{
    background-color: transparent;
}
.form-input{
    height: 50px;
}
.enquiryForm{
    padding: 0px !important;
}


/* footer */
footer {
    width: 100%;
    height: 100%;
    background: var(--dark-color);
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
}

footer .footer_container .col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer_container .col p {
    font-size: 14px;
}

footer .footer_container .col ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer_container .col ul li {
    list-style: none;
    font-size: 13px;
}

footer .footer_container .col ul li a {
    transition: all 0.5s linear;

}

footer .footer_container .col:nth-child(4) ul {
    flex-direction: row;
    gap: 30px;
}

footer .footer_container .col:nth-child(4) ul li a {
    background: var(--secondary-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--dark-color);
    font-size: 20px;
}

footer .footer_container .col ul li:hover a {
    color: var(--primary-color);
}

.copyright_container {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    border-top: 1px solid var(--secondary-color);
    width: 90%;
}

.copyright_container i {
    color: var(--primary-color);
    padding: 0 5px;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .card {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:750px){
    
    
    /* about us */
    .about-us-image{
        width: 100%;
        height: 100%;
    }
    .about-us-image img{
        height: 100%;
        width: 100%;
    }
   
    /* why choose us */
    .choose-main{
        padding: 70px 50px;
        border: 1px solid transparent;
    }
    .choose-card h3{
        font-weight: 400;
    }
    .choose-card{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin: 30px 0px !important;
    }
    .choose-cards{
        display: block;
    }
    
    /* Client Testimonials */
    .testimonal-main{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .testimonal-container {
        height: auto;
        width: 70%;
        margin-top: 0px;
    }
    .testimonal-row {
        position: relative;
        height: auto;
    }

    .testimonal-row {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    swiper-container {
        width: 100%;
        height: auto;
    }

    swiper-slide {
        height: auto; 
    }
    swiper-slide p{
        /* border: 1px solid red; */
        font-weight: 600;
        margin-bottom: 50px;
    }
    swiper-slide div{
        margin-top: 10px;
    }

    .slider span{
        font-size: 90px;
    }
    .map{
        height: 400px !important;
    }
    /* footer */
    .footer-media-icon{
        display: flex;
        margin-top: 30px;
        margin-left: 4px;
    }
    .footer-main{
        padding: 0px;
    }
    .footer-container{
        padding: 0px 0px;
    }
    .footer-left{
        padding-left: 0px;
    }
    
    .footer-media-icons{
        display: flex;
        margin-top: 30px;
        margin-left: 4px;
    }
    .footer-media{
        color: white;
    }
    .footer-contact button:hover{
        background-color: white;
        color: black;
    }
    .footer-contact{
        margin-left: 7px;
        margin-top: 40px;
    }
    .footer-link a{
        color: white;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
    }
   
    .footer-link{
        margin-top: 30px !important;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 90px;
    }
    .footer-left{
        margin-top: 30px !important;
    }
     .footer-img{
        background-color: white;
        width: 70%;
        padding: 4px 10px;
    }
    .footer-right{
        margin-top: 30px !important;
    }
}

@media only screen and (max-width:640px){
    
    
    /* choose us */
    
    .choose-main{
        padding: 10px !important;
    }
    .choose-cards{
        padding: 0px;
    }
    /* Benefits of Pledging Your Bike */
   
   
    .map-cont{
        margin-bottom: 0px !important;
    }
    #contact{
        padding-bottom: 0px !important;
    }
    /* footer  */
    .footer-left{
        padding: 0px 30px !important;
    }
    .footer-link{
        padding: 0px 40px !important;
    }
    .footer-right{
        padding: 0px 14px;
    }
}